{:lost-update
 ({:key 2,
   :value 950,
   :txns
   [{:process 8,
     :type :ok,
     :f :txn,
     :value [[:r 2 950] [:r 2 950] [:w 2 2] [:w 2 2]],
     :wall 1761222833089001141,
     :meta {:txn_name "transfer"},
     :index 167,
     :time 32995760}
    {:process 1,
     :type :ok,
     :f :txn,
     :value [[:r 2 950] [:r 1 1036] [:w 2 2] [:w 1 1]],
     :wall 1761222833090609127,
     :meta {:txn_name "transfer"},
     :index 185,
     :time 34603752}
    {:process 3,
     :type :ok,
     :f :txn,
     :value [[:r 2 950] [:w 2 2]],
     :wall 1761222833091184698,
     :meta {:txn_name "update"},
     :index 195,
     :time 35179140}
    {:process 3,
     :type :ok,
     :f :txn,
     :value [[:r 2 950] [:w 2 2]],
     :wall 1761222833092913808,
     :meta {:txn_name "update"},
     :index 217,
     :time 36908428}]}
  {:key 2,
   :value 949,
   :txns
   [{:process 3,
     :type :ok,
     :f :txn,
     :value [[:r 2 949] [:r 2 949] [:w 2 2] [:w 2 2]],
     :wall 1761222833082538214,
     :meta {:txn_name "transfer"},
     :index 93,
     :time 26532647}
    {:process 4,
     :type :ok,
     :f :txn,
     :value [[:r 2 949] [:w 2 2]],
     :wall 1761222833083718438,
     :meta {:txn_name "update"},
     :index 99,
     :time 27712988}
    {:process 1,
     :type :ok,
     :f :txn,
     :value [[:r 2 949] [:w 2 2]],
     :wall 1761222833092061025,
     :meta {:txn_name "update"},
     :index 201,
     :time 36055649}]}
  {:key 2,
   :value 1070,
   :txns
   [{:process 7,
     :type :ok,
     :f :txn,
     :value [[:r 2 1070] [:w 2 2]],
     :wall 1761222839352629218,
     :meta {:txn_name "update"},
     :index 3235,
     :time 6296623686}
    {:process 0,
     :type :ok,
     :f :txn,
     :value [[:r 2 1070] [:w 2 2]],
     :wall 1761222839353177963,
     :meta {:txn_name "update"},
     :index 3241,
     :time 6297172395}]}
  {:key 2,
   :value 1009,
   :txns
   [{:process 0,
     :type :ok,
     :f :txn,
     :value [[:r 2 1009] [:r 3 1079] [:w 2 2] [:w 3 3]],
     :wall 1761222839243955309,
     :meta {:txn_name "transfer"},
     :index 1773,
     :time 6187949932}
    {:process 2,
     :type :ok,
     :f :txn,
     :value [[:r 2 1009] [:w 2 2]],
     :wall 1761222839244651156,
     :meta {:txn_name "update"},
     :index 1785,
     :time 6188645613}
    {:process 3,
     :type :ok,
     :f :txn,
     :value [[:r 2 1009] [:r 2 1009] [:w 2 2] [:w 2 2]],
     :wall 1761222839246959094,
     :meta {:txn_name "transfer"},
     :index 1807,
     :time 6190953717}
    {:process 7,
     :type :ok,
     :f :txn,
     :value [[:r 2 1009] [:w 2 2]],
     :wall 1761222839247468058,
     :meta {:txn_name "update"},
     :index 1815,
     :time 6191462678}
    {:process 0,
     :type :ok,
     :f :txn,
     :value [[:r 2 1009] [:w 2 2]],
     :wall 1761222839248112255,
     :meta {:txn_name "update"},
     :index 1825,
     :time 6192106857}]}
  {:key 2,
   :value 989,
   :txns
   [{:process 1,
     :type :ok,
     :f :txn,
     :value [[:r 1 1064] [:r 2 989] [:w 1 1] [:w 2 2]],
     :wall 1761222835163424197,
     :meta {:txn_name "transfer"},
     :index 1064,
     :time 2107418794}
    {:process 4,
     :type :ok,
     :f :txn,
     :value [[:r 2 989] [:w 2 2]],
     :wall 1761222835164039061,
     :meta {:txn_name "update"},
     :index 1079,
     :time 2108033688}
    {:process 0,
     :type :ok,
     :f :txn,
     :value [[:r 2 989] [:w 2 2]],
     :wall 1761222835164418849,
     :meta {:txn_name "update"},
     :index 1085,
     :time 2108413472}
    {:process 2,
     :type :ok,
     :f :txn,
     :value [[:r 2 989] [:w 2 2]],
     :wall 1761222835164933957,
     :meta {:txn_name "update"},
     :index 1095,
     :time 2108928582}]})}
