{:deps {org.clojure/clojure   {:mvn/version "1.11.3"}
        elle/elle             {:mvn/version "0.2.4"}
        jepsen/jepsen         {:mvn/version "0.3.5"}
        spootnik/unilog       {:mvn/version "0.7.32"}
        org.clojure/data.json {:mvn/version "2.5.0"}}
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :paths ["clj"]
 :aliases {:run {:main-opts ["-m" "clj.run_elle"]}}}